
.navbar-brand {
  /* height: 50px; */
  width: 50px;
}

.footer-top {
  background-color: #e7e7e7;
}

footer{
  color: #e7e7e7;
  background-color: black;
}

.text-uppercase{
  margin-top: 5%;
  font-size: 100%;
}

.social-media>a>i{
  /* width: 30%;
  height: 30%; */
  color: red;
  font-size: 300%;
  margin: 1% 2%;
}

.get-connected {
  color: black;
}

/* Index Page */
/* Jumbotron Styling */
.backgroundindeximg{
  margin: 0px;
}

.jumbotron .jumbotext{
  color: white;
  padding-left: 0%;
  
}

.jumbotron {
  background-image: url(../image/2014_vorsteiner_tesla_model_s_p85-HD.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20%;
  background-position: center;

}


/* Article Styling */
.articleindex{
  margin: 5%
}

/* Contact Page */

.nestedcon {
  padding: 0px;
}

.officecon {
  margin-top: 10%;
}

.officepiccon {
  margin-top: 10%;
}

.officepiccon p{
  margin: 10%;
}
